In [1]:
import pandas
import numpy as np 
from sklearn.metrics import classification_report

In [2]:
moje_data = pandas.read_csv('neurokit.csv',sep=';')
moje_data.head()

,ID,ECG_Rate_Mean,HRV_MeanNN,HRV_SDNN,HRV_SDANN1,HRV_SDNNI1,HRV_RMSSD,HRV_SDSD,HRV_CVNN,HRV_CVSD,...,HRV_HFD,HRV_KFD,HRV_LZC,SCR_Peaks_N,SCR_Peaks_Amplitude_Mean,Min_Tep,Max_Tep,Mean_Tep,STDEV_Tep,Label
0,3_h,127.634701,473.245614,150.712984,58.920459,121.235178,164.597955,164.742778,0.318467,0.347807,...,1.993155,2.189870,0.931543,40,0.659369,37.15,38.61,37.894830,0.297241,Neutral
1,5_h,111.367546,539.250000,58.330888,9.528221,57.980129,54.021632,54.075843,0.108170,0.100179,...,1.955297,2.087771,0.699331,35,0.821870,35.68,36.66,36.170000,0.042649,Negative
2,6_h,63.205824,972.563177,399.763200,69.564970,375.250435,499.610355,500.492116,0.411041,0.513705,...,2.013749,2.613006,1.113077,49,0.712868,36.17,36.66,36.630415,0.116931,Negative
3,7_h,63.744888,984.814815,536.944546,53.731704,512.384700,760.829497,762.145515,0.545224,0.772561,...,2.018079,3.060609,1.076909,18,1.213596,37.15,37.63,37.256868,0.200067,Neutral
4,8_h,55.961404,1072.000000,129.044994,27.525674,97.114529,131.507326,131.526180,0.120378,0.122675,...,1.988184,1.442423,0.892168,35,0.672532,37.63,38.12,37.722453,0.192077,Negative

In [5]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [6]:
X = moje_data.drop(['ID','Label'], axis=1)
y = moje_data['Label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 12)

In [7]:
X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [8]:

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)


scaler = StandardScaler().fit(X_test)
X_test_scaled = scaler.transform(X_test)

In [9]:
clf = DecisionTreeClassifier(criterion = "gini", splitter = 'random', max_leaf_nodes = 5, min_samples_leaf = 10, max_depth= 6)
#clf = DecisionTreeClassifier()

In [10]:
clf = clf.fit(X_train_scaled,y_train,)

In [11]:
y_pred = clf.predict(X_test_scaled)

In [12]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5625

In [13]:
train_error = np.round(clf.score(X_train_scaled, y_train), 2)
test_error = np.round(clf.score(X_test_scaled, y_test), 2)
    
print("Training Set Mean Accuracy = " + str(train_error))
print("Test Set Mean Accuracy = " + str(test_error))

Training Set Mean Accuracy = 0.59
Test Set Mean Accuracy = 0.56